src/Play.Catalog.Service/bin/Debug/net5.0/AWSSDK.Core.dll
src/Play.Catalog.Service/bin/Debug/net5.0/AWSSDK.SecurityToken.dll
src/Play.Catalog.Service/bin/Debug/net5.0/DnsClient.dll
src/Play.Catalog.Service/bin/Debug/net5.0/MongoDB.Bson.dll
src/Play.Catalog.Service/bin/Debug/net5.0/MongoDB.Driver.Core.dll
src/Play.Catalog.Service/bin/Debug/net5.0/MongoDB.Driver.dll
src/Play.Catalog.Service/bin/Debug/net5.0/MongoDB.Libmongocrypt.dll
src/Play.Catalog.Service/bin/Debug/net5.0/Play.Catalog.Service.deps.json
src/Play.Catalog.Service/bin/Debug/net5.0/Play.Catalog.Service.dll
src/Play.Catalog.Service/bin/Debug/net5.0/Play.Catalog.Service.pdb
src/Play.Catalog.Service/bin/Debug/net5.0/SharpCompress.dll
src/Play.Catalog.Service/bin/Debug/net5.0/Snappier.dll
src/Play.Catalog.Service/bin/Debug/net5.0/ZstdSharp.dll
src/Play.Catalog.Service/bin/Debug/net5.0/runtimes/linux/native/libmongocrypt.so
src/Play.Catalog.Service/bin/Debug/net5.0/runtimes/osx/native/libmongocrypt.dylib
src/Play.Catalog.Service/bin/Debug/net5.0/runtimes/win/native/mongocrypt.dll
src/Play.Catalog.Service/obj/Play.Catalog.Service.csproj.nuget.dgspec.json
src/Play.Catalog.Service/obj/Play.Catalog.Service.csproj.nuget.g.props
src/Play.Catalog.Service/obj/project.assets.json
src/Play.Catalog.Service/obj/project.nuget.cache
src/Play.Catalog.Service/obj/Debug/net5.0/Play.Catalog.Service.assets.cache
src/Play.Catalog.Service/obj/Debug/net5.0/Play.Catalog.Service.csproj.AssemblyReference.cache
src/Play.Catalog.Service/obj/Debug/net5.0/Play.Catalog.Service.csproj.CoreCompileInputs.cache
src/Play.Catalog.Service/obj/Debug/net5.0/Play.Catalog.Service.csproj.FileListAbsolute.txt
src/Play.Catalog.Service/obj/Debug/net5.0/Play.Catalog.Service.dll
src/Play.Catalog.Service/obj/Debug/net5.0/Play.Catalog.Service.pdb
src/Play.Catalog.Service/obj/Debug/net5.0/project.razor.json
src/Play.Catalog.Service/obj/Debug/net5.0/ref/Play.Catalog.Service.dll
src/Play.Catalog.Service/obj/Debug/net5.0/refint/Play.Catalog.Service.dll
